@model IEnumerable<WebApplication1.Groups>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfChildren)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearOfCreation)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Educators)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypesOfGroups)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfChildren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducatorsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypesOfGroupsId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupsId">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.GroupsId">Details</a> 
                @*<a asp-action="Delete" asp-route-id="@item.GroupsId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
