@model IEnumerable<WebApplication1.Pupils>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FioFather)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FioMather)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Info)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AttendanceGroup)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Groups)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FioFather)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FioMather)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupsId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PupilsId">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.PupilsId">Details</a> 
                @*<a asp-action="Delete" asp-route-id="@item.PupilsId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
